.background-img{
    background-image: url("../imges/photo_2023-10-17_18-50-41.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 750px;
}

.main_title{
    margin-top: 215px;
    color: #9e2311;
    padding-bottom: 10px;
}
.title-background{
    align-items: center;
    text-align: center;
    width: 600px;
    font-size: 47px;
    font-weight: 600;
    background-color:#efdcbb84; 
    box-shadow: 0 6px 40px 0 #4a4a4a;
    border-radius: 10px;
}